html {
    box-sizing: border-box;
    font-size: 100%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    background-image: url(https://kyofu666.github.io/ToDo-App/images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-color: var(--Very-Dark-Blue);
    color: var(--Ligh-Grayish-Blue);
}

.lightTheme {
    background-image: url(https://kyofu666.github.io/ToDo-App/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-color: var(--Very-Light-Grayish-Blue);
    background-color: rgb(240, 239, 239);
}
